a {
  color: blue;
  text-decoration: none;
}

a:hover {
  \* try comment here hehe *\
  color: red;
  text-decoration: underline;
}

a:visited {
  color: purple;
  text-decoration: none;
}

body {
  background-color: beige;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h2 {
  color: #075AAB;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
